
<style>
    .nav-global{
        margin:10px 250px;
    }
</style>
{% extends "admin/base.html" %}

{% block sidebar %}
{{ block.super }}
{% if user.is_superuser %}
    {%if request.path == '/admin/' or  request.path == '/admin/certificate/event/create-certificate/' or  request.path == '/admin/certificate/event/show-status/'%}
    <div class="nav-global pl-5">
        <a class="btn btn-primary" href="{% url 'admin:create_certificate' %}">Add Certificate</a>
        <a class="btn btn-primary" href="{% url 'admin:show_status' %}">Show Status</a>
    </div>
    {% endif %}
    {% endif %}
{% endblock %}
{% block content %}
    
   
{% endblock %}