{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<style>
    .forget_password_button{
        background-color: rgb(75, 167, 243) ;
        color: white;
    }
</style>
<div class="container py-5">
    <div class="card mx-auto p-4 my-5" style="max-width: 18rem; ">
        <div class="card-body">
            <p class="card-subtitle">
                Your password has been set. You may go ahead and log in now.
                <a  href="{% url 'user_auth:user_signin'%}">Login</a>
            </p>
            
        </div>
    </div>
</div>
</div>
{%endblock%}