{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<style>
    .forget_password_button{
        background-color: rgb(75, 167, 243) ;
        color: white;
    }
</style>
<div class="container py-5">
    <div class="card mx-auto my-5" style="max-width: 16rem; ">
        <div class="card-body">
            {% if validlink %}
            <h3 class="card-title">Change Password</h3>
            <form class="form" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit" class="btn forget_password_button">Change Password</button>
            </form>
            {% else %}
            <p>
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
            </p>
            {%endif%}
        </div>
    </div>
</div>
</div>
{%endblock%}