{% extends 'partials/base.html' %}
{% load static %}
{% block content %}
<style>
    .forget_password_button{
        background-color: rgb(75, 167, 243) ;
        color: white;
    }
</style>
<div class="container py-5">
    <div class="card mx-auto p-4 my-5" style="max-width: 30rem; ">
        <div class="card-body">
            <h5 class="card-title">Password Reset Sent</h5>
            <!-- {{ protocol }}://{{ domain }}/user_auth/password_reset_confirm/{{ uidb64 }}/{{ token }} -->
            <p class="card-subtitle">
                We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
            </p><br>
            <p class="card-subtitle">
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
            </p>
        </div>
    </div>
</div>
</div>
{%endblock%}